.orangeColor {
  color: rgb(227, 108, 10);
}

.bootstrap-select{
  padding: 0px;
  padding-right: 30px;
}

.showOnPrint{
  display: none;
}

@media print {
  .print-only {
    border: none;
  }
  .border-bottom{
    border-bottom: 2px solid #000;
  }
  .btn{
    display: none;
  }
  .showOnPrint{
    display: block;
  }
}


input[type="radio"]{
  border-color: #000;
}

input[type="checkbox"]{
  border-color: #000;
}

.cancelContainerPadding{
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.blueBackground{
  background-color: rgb(184,204,228);
}

.greenBackground{
  background-color: rgb(194,214,155);
}

